pydicom == 2.1.2
numpy == 1.26.4
nibabel == 5.2.1
nilearn == 0.10.3
matplotlib == 3.8.3
dcmstack == 0.8.0
pandas == 2.2.1
pyradiomics == 3.0.1
sagemaker == 2.27.0
boto3 == 1.24.11
SimpleITK <= 2.1.0
awswrangler == 2.20.1